.column {
    display: flex;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-direction: column;
}

.column_all{
    display: flex;

}
.task-card {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.edit-form{
    margin-bottom: 20px;
}

.task-card.overdue {
    border: 2px solid red;
}